
.title-row{
    display: flex;
    align-items:baseline;
    margin-top: 4em;

}

.title-row h4{
    margin-left: 5%;
}


.body-row h4{
    margin-left: 5%;
}


.body-row{
    display: flex;
    align-items:baseline;
    margin-top: 1em;

}